<!-- JiaThis Button BEGIN -->
<div class="jiathis_style_24x24">
	<a class="jiathis_button_qzone"></a>
	<a class="jiathis_button_tsina"></a>
	<a class="jiathis_button_tqq"></a>
	<a class="jiathis_button_weixin"></a>
	<a class="jiathis_button_renren"></a>
	<a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
	<a class="jiathis_counter_style"></a>
</div>
<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1395286292635329" charset="utf-8"></script>
<!-- JiaThis Button END -->

<!-- UY BEGIN -->
<div id="uyan_frame"></div>
<script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js"></script>
<!-- UY END -->

<!-- Gitment BEGIN -->
<div id="comments"></div>
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
const gitment = new Gitment({
id: 'Hello World', // optional
owner: 'DamianSheldon'
repo: 'gitment',
oauth: {
client_id: '534142482825f386df90',
client_secret: '19183fe61a33fcfae35316435bf3f4d516295c38',
},
// ...
// For more available options, check out the documentation below
})

gitment.render('comments')
</script>
<!-- Gitment -->
