#nav-collapse{
    display: none;
    color: #fff;
    width: 100%;
//    padding: .625em 0 .625em 0;
    padding: .3125em 0 .3125em 0;
}

#nav-collapse.active{
    display: block;
    @media screen and (min-width: 48em) {/* 768px/16px */
        display: none;
    }
}

nav[role="navigation"] ul.hide{
    display:none;
    
    @media screen and (min-width: 48em) {/* 768px/16px */
        display: flex;
    }
}

nav[role="navigation"] {
    width: 87.5%;
    margin: 0 auto;
    background: #f2f2f2;
    border: 0.1em solid #ddd;/* 1px */
    border-radius: 0.3125em;/* 5px/16px */
    
    @media screen and (min-width: 48em) {/* 768px/16px */
        width: 100%;
    }
    
    @media screen and (min-width: 64em) {/* 1024px/16px */
        width: 87.5%;
    }
    
    ul {
        list-style-type: none;
        
        @media screen and (min-width: 48em) {/* 768px/16px */
            display: flex;
        }
        
        li {
//             padding: 0 0 .625em 0;
//            padding: 0 0 .3125em 0;
            margin: .3125em 0;
            
            @media screen and (min-width: 48em) {/* 768px/16px */
                display: inline-block;
                flex-grow: 1;
                text-align: center;
            }
        }  
        
        form {
            @media screen and (min-width: 48em) {/* 768px/16px */
                display: inline-block;
                flex-grow: 2;
            }
        }
    }
}

#header{
//    padding-top: 1.875em;/* 30px/16px */
    margin: 1.875em 0 0.625em;/* 30px/16px 0 10px/16px */
    // height: $header-height;
    // padding: 30px 0;
    // margin-bottom: 100px;

    // line-height: $header-height;
    /* @media screen and (max-width: 1040px){
        margin-bottom: 50px;
        height: auto;
        position: relative;
        padding-bottom: 10px;
    }
    @media screen and (max-width: 600px){
        margin-bottom:40px;
    }*/

    a{
        color: $color-gray01;
        @include transition(color 0.3s);
        &:hover{
            color: $color-main;
            border-bottom:none;
        }
    }
    h1{
        text-align:center;
        font-size: 2em; /* 32px/16px */
//        margin-bottom: 0.625em; /*10px/16px */
        @media screen and (min-width: 64em) {/* 1024px/16px */
            font-size: 3em;
        }
    }
    h4{
        font-size: 1.125em; /* 18px/ 16px */
        text-align: center;
        margin-bottom: 0.625em; /* 10px/16px */
        @media screen and (min-width: 64em) {/* 1024px/16px */
            font-size: 1.6em;
        }
    }
    a[rel=subscribe-rss] {
        position: absolute;
        top: 1.25em; /*20px/16px*/
        right: 1.25em; /*20px/16px*/
        
        -webkit-mask-image: url(/images/rss.png);
        -moz-mask-image: url(/images/rss.png);
        -ms-mask-image: url(/images/rss.png);
        -o-mask-image: url(/images/rss.png);
        
        background-color: #f26522;
        
        -webkit-mask-repeat: no-repeat;
        -moz-mask-repeat: no-repeat;
        -ms-mask-repeat: no-repeat;
        -o-mask-repeat: no-repeat;
        
        color: transparent;
    }
    
    form {
        input {
            width: 100%;
            /* border-style: solid; */
            font-size: 1em;
            padding-left: 1.75em;/*28px/16px*/
            padding-top: 0;
            padding-bottom: 0;
            /* margin-right: 30px; */
            border: 0.1em solid #ddd;/* 1px/16px */
            border-radius: 0.3125em 0.3125em 0.3125em 0.3125em;/* 5px/16px */
//            height: 1.875em;/* 30px/16px */
            height: 2.125em;/* 34px/16px */
            background: url(../images/search.png) 8px 8px no-repeat #fff;
            -mox-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }
    }
}