<ul class="nav" id="nav">
    <li class="active"><a href="{{ root_url }}/">Blog</a></li>
    <li><a href="{{ root_url }}/archives">Archive</a></li>
    <li><a href="{{ root_url }}/ios-development">iOS</a></li>
    <li><a href="{{ root_url }}/android">Android</a></li>
    <li><a href="{{ root_url }}/web-development">Web</a></li>
    <li><a href="{{ root_url }}/english">English</a></li>
    <li><a href="{{ root_url }}/about">About</a></li>
    
    <form action="{{ site.simple_search }}" method="get" accept-charset="utf-8" target="_blank">
        <input type="text" name="q" maxlength="255" placeholder="Search">
        <input type="hidden" name="q1" value="site:{{ site.url | shorthand_url }}">
    </form>
</ul>