
<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <title>Web 开发问题汇总(二)  | Hello World</title>

        <meta name="author" content="Sheldon"> 
        
        <meta name="description" content="Noting problems encounter during web development, every fifteen problem produce a blog, this is the second."> <meta name="keywords" content="web, jquery, servlet, eclipse">

        <meta name="viewport" content="width=device-width">
        
        
        <link rel="canonical" href="http://DamianSheldon.github.io/blog/web-development-notes-part-two.html">

        <link href="/atom.xml" rel="alternate" title="Hello World" type="application/atom+xml">
        <link href="/favicon.png" rel="icon">
        <link href="/stylesheets/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css">
        
        <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
        <script src="/javascripts/libs/jquery.min.js"></script>
        <!--<script src="/javascripts/libs/jquery-migrate-1.4.1.min.js"></script>-->
        <!--<script type="text/javascript" src="/javascripts/jquery.fancybox.pack.js"></script>

<script language="Javascript" type="text/javascript">
$(document).ready(
  function() {
    (function($) {
      $(".fancybox[data-content-id]").each(function() {
        this.href = $(this).data('content-id');
      });
      $(".fancybox").fancybox({
        beforeLoad: function() {
          var el, 
              id = $(this.element).data('title-id');

          if (id) {
            el = $('#' + id);

            if (el.length) {
              this.title = el.html();
            }
          }
          if ($(this).data('content')) {
            this.content = $(this).data('content');
          }
        },
        helpers: {
          title: {
            type: 'inside'
          }
        }
      });
    })(jQuery);
  }
);
</script>
-->
        <script src="/javascripts/octopress.js" type="text/javascript"></script>
        <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">

    </head>



<body>
	<header id="header" class="inner"><h1><a href="/">Hello World</a></h1>
<h4>Here's where it all happens for me.</h4>

<!-- Navigation -->

<nav role="navigation">
    <div class="inner">
        <a href="#nav" class="nav-collapse" id="nav-collapse">Navigation</a>
        <ul class="nav" id="nav">
    <li class="active"><a href="/">Blog</a></li>
    <li><a href="/archives">Archive</a></li>
    <li><a href="/ios-development">iOS</a></li>
    <li><a href="/android">Android</a></li>
    <li><a href="/web-development">Web</a></li>
    <li><a href="/english">English</a></li>
    <li><a href="/about">About</a></li>
    
    <form action="https://www.bing.com/search" method="get" accept-charset="utf-8" target="_blank">
        <input type="text" name="q" maxlength="255" placeholder="Search">
        <input type="hidden" name="q1" value="site:DamianSheldon.github.io">
    </form>
</ul>
    </div>
</nav>

<a href="/atom.xml" rel="subscribe-rss" title="subscribe via RSS">RSS</a>
</header>

	<div id="content" class="inner"><article class="post">
	<h2 class="title">Web 开发问题汇总(二)</h2>
        
    <div class="meta">
	   <div class="date">









  



<time datetime="2018-01-04T10:08:36+08:00" pubdate data-updated="true">04 Jan 2018</time></div>
	   

<div class="tags">

	<a class='category' href='/blog/categories/archives/'>archives</a>, <a class='category' href='/blog/categories/web-development/'>web development</a>

</div>


    </div>
    
	<div class="entry-content"><h3>1.Uncaught TypeError: Cannot read property &lsquo;msie&rsquo; of undefined</h3>

<p>A:The $.browser method has been removed as of jQuery 1.9.</p>

<blockquote><p>jQuery.browser() removed</p>

<p>The jQuery.browser() method has been deprecated since jQuery 1.3 and is removed in 1.9. If needed, it is available as part of the jQuery Migrate plugin. We recommend using feature detection with a library such as Modernizr.</p>

<p>— jQuery Core 1.9 Upgrade Guide.</p></blockquote>

<p>As stated in the Upgrade Guide you can try using the <a href="https://github.com/jquery/jquery-migrate/">jQuery Migrate plugin</a> to restore this functionality and let jQuery Tools work.</p>

<p>Reference:<a href="http://stackoverflow.com/questions/14923301/uncaught-typeerror-cannot-read-property-msie-of-undefined-jquery-tools">Uncaught TypeError: Cannot read property &lsquo;msie&rsquo; of undefined - jQuery tools</a></p>

<h3>2.The superclass “javax.servlet.http.HttpServlet” was not found on the Java Build Path in Eclipse</h3>

<p>A:To include http-servlet into your class path, you have two options:</p>

<pre><code>1. In this solution, you can add desired server runtime into your application as project facet. As runtime servers have already servlet runtime dependencies, they get included into your project and hence error is gone.
2. Another option is include the servlet dependency through maven itself. This will also fix the error.
</code></pre>

<figure class='code'><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
<span class='line-number'>2</span>
<span class='line-number'>3</span>
<span class='line-number'>4</span>
<span class='line-number'>5</span>
</pre></td><td class='code'><pre><code class=''><span class='line'>&lt;dependency&gt;
</span><span class='line'>    &lt;groupId&gt;javax.servlet&lt;/groupId&gt;
</span><span class='line'>    &lt;artifactId&gt;servlet-api&lt;/artifactId&gt;
</span><span class='line'>    &lt;version&gt;2.5&lt;/version&gt;
</span><span class='line'>&lt;/dependency&gt;</span></code></pre></td></tr></table></div></figure>


<p>Reference:<a href="https://howtodoinjava.com/tools/eclipse/solved-the-superclass-javax-servlet-http-httpservlet-was-not-found-on-the-java-build-path-in-eclipse/">The superclass “javax.servlet.http.HttpServlet” was not found on the Java Build Path in Eclipse</a></p>

<h3>3.Dynamic Web Module 3.1 requires Java 1.7 or newer</h3>

<p>A:</p>

<p>Step1:<br/>
Make sure your Java Project is configured probably to use Java 1.7.
Right click your project > Properties > Java Compiler and set “Compiler compliance level” to 1.7</p>

<p>Step2:<br/>
Java Build Path. Click “Edit“. And change it to “Java 7”</p>

<p>Step3:<br/>
Next from the menu on the left select Project Facets > Java and set its version to 1.7</p>

<p>Extra Tips:<br/>
If you have maven project try updating source and target version of java compiler to 1.7 in pom.xml file.</p>

<p>Reference:<a href="https://crunchify.com/how-to-solve-dynamic-web-module-3-1-requires-java-1-7-or-newer-in-eclipse/">How to solve “Dynamic Web Module 3.1 requires Java 1.7 or newer” in Eclipse</a></p>

<h3>4.How to display available goals of maven plugin?</h3>

<p>A:</p>

<blockquote><p>Recent Maven plugins have generally an help goal to have in the command line the description of the plugin, with their parameters and types. For instance, to understand the javadoc goal, you need to call:</p></blockquote>

<figure class='code'><figcaption><span></span></figcaption><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
</pre></td><td class='code'><pre><code class='bash'><span class='line'><span class="nv">$ </span>mvn javadoc:help -Ddetail -Dgoal<span class="o">=</span>javadoc
</span></code></pre></td></tr></table></div></figure>


<p>It works of course for Maven core plugins. to list all goals of the archetype plugin :</p>

<figure class='code'><figcaption><span></span></figcaption><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
</pre></td><td class='code'><pre><code class='bash'><span class='line'><span class="nv">$ </span>mvn archetype:help
</span></code></pre></td></tr></table></div></figure>


<p>And it works also for third party plugins. For example, to display all goals of the spring-boot plugin :</p>

<figure class='code'><figcaption><span></span></figcaption><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
</pre></td><td class='code'><pre><code class='bash'><span class='line'><span class="nv">$ </span>mvn spring-boot:help
</span></code></pre></td></tr></table></div></figure>


<p>Reference:<a href="https://stackoverflow.com/questions/1674524/how-to-display-a-list-of-available-goals">How to display a list of available goals?</a></p>

<h3>5.Not a java source folder</h3>

<p>A:以 maven-archetype-webapp 为原型新建工程，建好的工程没有 java 目录，于是在 src/main 下新建 java 目录，之后新建 Filter 或 Servlet 时提示 Not a java source folder.尝试右击 java 目录 > Build Path > Use as Source Folder 依然未生效，只得将目录删除恢复原状想其他办法。</p>

<p>于是选中工程 > Properties > Java Build Path > Source， 里面提示 src/main/java build path entries are missing, 嗯，有了新的线索，于是将这些丢失的入口都删除了，再重新创建 java source folder, 这样问题得到了解决，感觉这个问题像是 eclipse 的一个 bug.</p>

<!--more-->


<h3>6.Thymeleaf 如何支持遍历枚举</h3>

<p>A:</p>

<blockquote><p>The java.util.List class isn’t the onlyvalue that can be used for iteration in Thymeleaf. There is a quite complete set of objects that are considered iterable by a th:each attribute:</p>

<ul>
<li>Any object implementing java.util.Iterable</li>
<li>Any object implementing java.util.Enumeration .</li>
<li>Any object implementing java.util.Iterator , whose values will be used as they are returned by the iterator, without the need to cache all values in memory.</li>
<li>Any object implementing java.util.Map . When iterating maps, iter variables will be of class java.util.Map.Entry . Any array.</li>
<li>Any other object will be treated as if it were a single-valued list containing the object itself.</li>
</ul>
</blockquote>

<p>上面就是可选方案，一开始我没看仔细，以为 Enumeration 可以直接遍历，之后细看是实现 java.util.Enumeration 的对象，这样综合来看将 Enumeration 转化成 List 是不错的选择。</p>

<figure class='code'><figcaption><span></span></figcaption><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
</pre></td><td class='code'><pre><code class='html'><span class='line'><span class="nt">&lt;div</span> <span class="na">th:each=</span><span class="s">&quot;attr: ${java.util.Collections.list(#httpServletRequest.attributeNames)}&quot;</span><span class="nt">&gt;</span>
</span></code></pre></td></tr></table></div></figure>


<p>Reference:<a href="https://github.com/thymeleaf/thymeleaf/issues/321">please allow to iterate java.util.Enumeration</a></p>

<h3>7.Call method with iter vaiable as argument in thymeleaf</h3>

<p>A:</p>

<figure class='code'><figcaption><span></span></figcaption><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
<span class='line-number'>2</span>
<span class='line-number'>3</span>
<span class='line-number'>4</span>
<span class='line-number'>5</span>
<span class='line-number'>6</span>
</pre></td><td class='code'><pre><code class='html'><span class='line'><span class="nt">&lt;ul</span> <span class="na">th:each=</span><span class="s">&quot;name : ${names}&quot;</span><span class="nt">&gt;</span>
</span><span class='line'>  <span class="nt">&lt;li</span>
</span><span class='line'>      <span class="na">th:text=</span><span class="s">&quot;|${name} = ${#session.getAttribute(</span>
</span><span class='line'><span class="s">      name )}|&quot;</span><span class="nt">&gt;</span>uid
</span><span class='line'>      = 502<span class="nt">&lt;/li&gt;</span>
</span><span class='line'><span class="nt">&lt;/ul&gt;</span>
</span></code></pre></td></tr></table></div></figure>


<p>Reference:<a href="http://forum.thymeleaf.org/invoking-a-method-on-model-with-parameter-td4026846.html">invoking a method on model with parameter</a></p>

<h3>8.Hiding text using text-indent</h3>

<p>A:</p>

<figure class='code'><figcaption><span></span></figcaption><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
<span class='line-number'>2</span>
<span class='line-number'>3</span>
<span class='line-number'>4</span>
<span class='line-number'>5</span>
<span class='line-number'>6</span>
<span class='line-number'>7</span>
<span class='line-number'>8</span>
<span class='line-number'>9</span>
<span class='line-number'>10</span>
<span class='line-number'>11</span>
<span class='line-number'>12</span>
<span class='line-number'>13</span>
<span class='line-number'>14</span>
<span class='line-number'>15</span>
</pre></td><td class='code'><pre><code class='html'><span class='line'><span class="nt">&lt;style </span><span class="na">type=</span><span class="s">&quot;text/css&quot;</span><span class="nt">&gt;</span>
</span><span class='line'>
</span><span class='line'><span class="nt">h1</span> <span class="nt">a</span> <span class="p">{</span>
</span><span class='line'><span class="err">    </span><span class="k">text-decoration</span><span class="o">:</span> <span class="k">none</span><span class="p">;</span>
</span><span class='line'><span class="err">    </span><span class="k">position</span><span class="o">:</span> <span class="k">absolute</span><span class="p">;</span> <span class="c">/* Depending on your placement */</span>
</span><span class='line'><span class="err">    </span><span class="k">width</span><span class="o">:</span> <span class="m">260px</span><span class="p">;</span>
</span><span class='line'><span class="err">    </span><span class="k">height</span><span class="o">:</span> <span class="m">100px</span><span class="p">;</span>
</span><span class='line'><span class="err">    </span><span class="k">bottom</span><span class="o">:</span> <span class="m">0px</span><span class="p">;</span> <span class="c">/* Depending on your placement */</span>
</span><span class='line'><span class="err">    </span><span class="k">background</span><span class="o">:</span> <span class="sx">url(images/aext-logo.png)</span> <span class="k">no-repeat</span> <span class="k">left</span> <span class="k">top</span><span class="p">;</span>
</span><span class='line'><span class="err">    </span><span class="k">text-indent</span><span class="o">:</span> <span class="m">-99999px</span><span class="p">;</span>
</span><span class='line'><span class="p">}</span>
</span><span class='line'>
</span><span class='line'><span class="nt">&lt;/style&gt;</span>
</span><span class='line'>
</span><span class='line'><span class="nt">&lt;h1&gt;&lt;a</span> <span class="na">href=</span><span class="s">&quot;http://aext.net&quot;</span><span class="nt">&gt;</span>AEXT.NET<span class="nt">&lt;/a&gt;&lt;/h1&gt;</span>
</span></code></pre></td></tr></table></div></figure>


<p>在尝试过程中发现要设置 width 和 height 才能生效，可以注意下。</p>

<p>Reference:<a href="http://bloggingexperiment.com/css-text-indent-style-your-html-form">CSS text-indent: An Excellent Trick To Style Your HTML Form</a></p>

<h3>9.SEVERE: Exception starting filter</h3>

<p>A:详细错误信息如下：</p>

<figure class='code'><figcaption><span></span></figcaption><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
<span class='line-number'>2</span>
<span class='line-number'>3</span>
<span class='line-number'>4</span>
<span class='line-number'>5</span>
<span class='line-number'>6</span>
<span class='line-number'>7</span>
<span class='line-number'>8</span>
<span class='line-number'>9</span>
<span class='line-number'>10</span>
<span class='line-number'>11</span>
<span class='line-number'>12</span>
<span class='line-number'>13</span>
<span class='line-number'>14</span>
<span class='line-number'>15</span>
<span class='line-number'>16</span>
<span class='line-number'>17</span>
<span class='line-number'>18</span>
<span class='line-number'>19</span>
<span class='line-number'>20</span>
<span class='line-number'>21</span>
<span class='line-number'>22</span>
<span class='line-number'>23</span>
<span class='line-number'>24</span>
</pre></td><td class='code'><pre><code class='html'><span class='line'>Apr 08, 2018 10:28:48 AM org.apache.catalina.core.StandardContext filterStart
</span><span class='line'>SEVERE: Exception starting filter [DispatchFilter]
</span><span class='line'>java.lang.ClassNotFoundException: com.tenneshop.bookmark.web.filter.DispatchFilter
</span><span class='line'>  at org.apache.catalina.loader.WebappClassLoaderBase.loadClass(WebappClassLoaderBase.java:1291)
</span><span class='line'>  at org.apache.catalina.loader.WebappClassLoaderBase.loadClass(WebappClassLoaderBase.java:1119)
</span><span class='line'>  at org.apache.catalina.core.DefaultInstanceManager.loadClass(DefaultInstanceManager.java:544)
</span><span class='line'>  at org.apache.catalina.core.DefaultInstanceManager.loadClassMaybePrivileged(DefaultInstanceManager.java:525)
</span><span class='line'>  at org.apache.catalina.core.DefaultInstanceManager.newInstance(DefaultInstanceManager.java:150)
</span><span class='line'>  at org.apache.catalina.core.ApplicationFilterConfig.getFilter(ApplicationFilterConfig.java:264)
</span><span class='line'>  at org.apache.catalina.core.ApplicationFilterConfig.<span class="nt">&lt;init&gt;</span>(ApplicationFilterConfig.java:108)
</span><span class='line'>  at org.apache.catalina.core.StandardContext.filterStart(StandardContext.java:4590)
</span><span class='line'>  at org.apache.catalina.core.StandardContext.startInternal(StandardContext.java:5233)
</span><span class='line'>  at org.apache.catalina.util.LifecycleBase.start(LifecycleBase.java:150)
</span><span class='line'>  at org.apache.catalina.core.ContainerBase$StartChild.call(ContainerBase.java:1419)
</span><span class='line'>  at org.apache.catalina.core.ContainerBase$StartChild.call(ContainerBase.java:1409)
</span><span class='line'>  at java.util.concurrent.FutureTask.run(FutureTask.java:266)
</span><span class='line'>  at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1142)
</span><span class='line'>  at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:617)
</span><span class='line'>  at java.lang.Thread.run(Thread.java:745)
</span><span class='line'>
</span><span class='line'>Apr 08, 2018 10:28:48 AM org.apache.catalina.core.StandardContext startInternal
</span><span class='line'>SEVERE: One or more Filters failed to start. Full details will be found in the appropriate container log file
</span><span class='line'>Apr 08, 2018 10:28:48 AM org.apache.catalina.core.StandardContext startInternal
</span><span class='line'>SEVERE: Context [/bookmark] startup failed due to previous errors
</span></code></pre></td></tr></table></div></figure>


<p>从错误信息来看问题的原因是类找不到，于是可以到部署的目标路径下确认 <code>com.tenneshop.bookmark.web.filter.DispatchFilter</code>是否存在。从 eclipse 输出的 debug 日志中找到部署的目标路径：</p>

<figure class='code'><figcaption><span></span></figcaption><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
<span class='line-number'>2</span>
</pre></td><td class='code'><pre><code class='html'><span class='line'>Apr 08, 2018 10:28:38 AM org.apache.catalina.startup.VersionLoggerListener log
</span><span class='line'>INFO: Command line argument: -Dwtp.deploy=/Users/dongmeiliang/eclipse-workspace/.metadata/.plugins/org.eclipse.wst.server.core/tmp1/wtpwebapps
</span></code></pre></td></tr></table></div></figure>


<p>发现类确实不存在，重新 <code>$ mvn compile</code> 之后问题解决。回想下发觉问题产生的原因是我在终端 <code>$ mvn clean</code>，然后在 eclipse 中 refresh  project ，最后直接就 debug on server 导致没有包含编译的类。</p>

<p>Reference:<a href="https://stackoverflow.com/questions/32692321/tomcat-severe-exception-starting-filter-corsfilter-classnotfoundexception">Tomcat SEVERE: Exception starting filter CorsFilter, ClassNotFoundException</a></p>

<h3>10.如何改变 server context path?</h3>

<p>A:用 mvn 新建工程时，artifactId 写成了 package name，之后在访问 web 时就略显尴尬，可以通过 Window > Show View > Servers > Double click specific server > Modules > Edit target web module。</p>

<h3>11.Eclipse error: “The import XXX cannot be resolved”</h3>

<p>A:With me it helped changing the compiler compliance level. For unknown reasons it was set to 1.6 and I changed it to 1.8.
Once at project level right click on project > Properties > Java Compiler, while in Eclipse click on menu Window > Preferences > Java > Compiler.</p>

<p>Reference:<a href="https://stackoverflow.com/questions/4322893/eclipse-error-the-import-xxx-cannot-be-resolved">Eclipse error: “The import XXX cannot be resolved”</a></p>

<h3>12.Index downloads are disabled, search result may be incomplete.</h3>

<p>A:</p>

<ol>
<li>In Eclipse, click <strong>on Windows > Preferences</strong>, and then choose <strong>Maven</strong> in the left side.</li>
<li>Check the box &ldquo;<strong>Download repository index updates on startup</strong>&rdquo;.</li>
<li>Optionally, check the boxes <strong>Download Artifact Sources</strong> and <strong>Download Artifact JavaDoc</strong>.</li>
<li>Click <strong>OK</strong>. The warning won&rsquo;t appear anymore.</li>
<li>Restart Eclipse.</li>
</ol>


<p>Reference:<a href="https://stackoverflow.com/questions/24252256/how-do-i-enable-index-downloads-in-eclipse-for-maven-dependency-search">How do I enable index downloads in Eclipse for Maven dependency search? </a></p>

<h3>13.</h3>
</div>


        
</article>

	<div class="share">
	<div>
	
	
	
    
    
        <!-- Gitment BEGIN -->
<div id="comments"></div>
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
// Limit label length less than 50 characters.
var label_for_comment = document.URL;
if (label_for_comment.length > 50) {
    label_for_comment = label_for_comment.substring(label_for_comment.length - 50, label_for_comment.length - 1);
}

const gitment = new Gitment({
id: label_for_comment,
owner: 'DamianSheldon',
repo: 'gitment',
oauth: {
client_id: '534142482825f386df90',
client_secret: '19183fe61a33fcfae35316435bf3f4d516295c38',
},
// ...
// For more available options, check out the documentation below
})

gitment.render('comments')
</script>
<!-- Gitment -->

    
    
	</div>
</div>


</div>
	<footer id="footer" class="inner">Copyright &copy; 2014 - 2018

    Sheldon

<br>
<p>Powered by <a href="http://octopress.org">Octopress</p>
</footer>
	<script src="/javascripts/slash.js"></script>
<!--<script src="/javascripts/jquery.fancybox.pack.js"></script>
<script type="text/javascript">
(function($){
	$('.fancybox').fancybox();
})(jQuery);
</script>--> <!-- Delete or comment this line to disable Fancybox -->




<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
 (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
 })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-52345084-1');
ga('send', 'pageview');

</script>
<!-- End Google Analytics -->




</body>
</html>
