//$color-background: #FFFFFF;
//$color-background: #262626;
$color-background: rgb(51,51,51);


//$color-main: #343434;
$color-main: rbg(68,68,68);

// $color-gray01: #666;

// set body text's color'
//$color-gray01: #343434;
//$color-gray01: #dcdcdc;
$color-gray01: $base3;


$color-gray02: #343434;
// $color-gray03: #ccc;
// $color-gray04: #ddd;
$color-gray04: #93a1a1;
// $color-gray05: #fff;

