header#header.inner {
    // margin-bottom: 14em;
}

body > header#header > h1 {
    // line-height: 2em;
    // margin-top: 0;
}

body > header#header > h4 {
    // line-height: 2em;
}

#main-search {
    @media screen and (max-width: 600px) {
        display: none;
    }
    border-style: none;
    position: absolute;
    top: 68px;
    right: 60px;
}

#main-search input {
    background: url(../images/search.png) 8px 8px no-repeat #fff;
    padding: 7px 11px 7px 28px;
    border: 1px solid #bbb;
    width: 65%;
    font-size: 1em;
}
