// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
@import "footnote";

body {
    font-size: 18px;
}

#header {
    background: $color-gray02;

    a {
        color: $solar-yellow;

        &:hover {
            color: $solar-orange;
        }
    }

    h1 {
        color: $solar-yellow;
    }

    h4 {
        color: $solar-yellow;
        margin-top:15px;
    }
}

h1{
    font-size: 38px;
}
h2{
    font-size: 38px;
}
h3{

    font-size: 22px;

    @media screen and (max-width: 620px) {
        font-size: 17px;
    }
}

article {
    
    align: center;
    //background: $color-gray02;
    background: rgb(68,68,68);

    width: 100%;

    h2.title {

        a {
            color: rgb(220, 220, 220);

        }
    }

    .entry-content {
        border-bottom: 0px;
        color: rgb(220, 220, 220);

        a:link, a:visited {
            border-bottom-style:none;
            //color: rgba(191,2,34,0);
            color: rgb(220, 220, 220);
        }

        a:hover {
            border-bottom-style:none;
            color: $solar-orange;
        }

        h2 {
            border-bottom-style:none;

            &:before {
                border-bottom-style:none;
            }
        }

        .more-link {

            color: rgb(220,220,220);

            a:link, a:visited {
                border-bottom-style:none;
                color: rgb(220,220,220);
            }

            a:hover {
                border-bottom-style:none;
                color: $solar-orange;
            }

            &:before {
                color: rgb(220, 220, 220);

            }
            &:after {
                border-bottom-style:none;
            }

        }

        blockquote {

            background:rgb(51,51,51);
        }


    }

}

.post {

    .meta {

        .date, .tags, .comments {
        
            &:before {
                color: rgb(220, 220, 220);
            }

        }

        .tags {
            a {
                color: rgb(220, 220, 220);
            }
        }

    }
}

time {

    color: rgb(220, 220, 220);
}

/* -----------index scss ------------------- */
#pagenavi {

    border-style:none;
    
    a {

        color: rgb(220, 220, 220);

        &:hover {
            color: $solar-orange;
        }

    }

    .prev, .center, .next {
        &:before {
            color: rgb(220, 220, 220);
        }

        &:after {
            color: $solar-orange;
            border-bottom-style:none;

        }

    }

}

/* ----------Archives --------------------- */
.archives {
    color: rgb(220, 220, 220);

    a:link, a:visited {
        border-bottom-style:none;
        color: rgb(220,220,220);
    }

    a:hover {
        border-bottom-style:none;
        color: $solar-orange;
    }

    article {

        .meta {

            .date, .tags, .comments {

                    color: rgb(220, 220, 220);

                    &:before {

                        color: rgb(220, 220, 220);
                    }

                    a {
                        color: rgb(220, 220, 220);
                    }

                }

                .tags {
                    a {
                        color: rgb(220, 220, 220);
                    }
                }

                time {

                    color: rgb(220, 220, 220);
                }

            }

    }

}

.post {

    .entry-content {


        a:link, a:visited {
            border-bottom-style:none;
            color: $solar-yellow;
        }

        a:hover {
            border-bottom-style:none;
            color: $solar-orange;
        }
    }

}